# Operating System files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

# Editor & IDE files
.claude/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated test artifacts
test/preview.wav
*.wav
